body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-wrapper {
    margin: 0 10px;  /* 画像同士の間隔を調整 */
  }
  
  img {
    width: 100%;
    max-width: 500px;  /* 画像の最大幅を設定 */
  }

  button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #00b357;
  }
  
  .perfectStyle {
    color: red;
    font-size: 2em;
}

.perfectStyle2 {
    color: blue;
    font-size: 2em;
}
